<div class="header-with-button">
  <h2>Active Process Instances</h2>

  <div class="myButton">
    <%= link_to "+ Start Instance", new_workflow_path %>
  </div>
</div>



<div>
  <%=button_to "Refresh", root_path, :method=> :get, :class => "myButton"%>
  <div>
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
  </div>
  <table class="styled-table">
    <thead>
    <tr>
      <th>Process Type</th>
      <th>Instance Name</th>
      <th>Current Step</th>
      <th>Operations</th>
    </tr>
    </thead>
    <tbody>
    <% @workflows.each do |workflow| %>
      <tr>
        <td><%=workflow['process_definition_name']%></td>
        <td><%=workflow['business_key'] %></td>
        <td><%=workflow['current_task_dto']['name'] %></td>
        <td> <span style="margin-right: 10px;" ><%= link_to 'Manage', edit_workflow_path(workflow['id'], :task_id=> workflow['current_task_dto']['id'])  %></span>
          <span><%= link_to 'Cancel',  workflow_path(workflow['id']), :method => :delete %></span>
        </td>

      </tr>
    <% end %>

    </tbody>

  </table>
  <div class="myButton right-aligned">
    <%= link_to "View received messages", messages_path %>
  </div>
</div>
