<h1>Active Process Instances</h1>
<div>
  <%= link_to "Start new process instance", new_workflow_path %>
</div>

<table>
<thead>
  <tr>
    <th>Process Type</th>
    <th>Business Key</th>
    <th>Current Step</th>
  </tr>
</thead>
  <tbody>
    <% @workflows.each do |workflow| %>
    <tr>
      <td><%=workflow['process_definition_name']%></td>
      <td><%=workflow['business_key'] %></td>
      <td><%=workflow['current_task_dto']['name'] %></td>
      <td> <%= link_to 'Manage', edit_workflow_path(workflow['id'], :task_id=> workflow['current_task_dto']['id'])  %></td>

    </tr>
    <% end %>

  </tbody>

</table>
