<h1>Start new Process Instance</h1>
<% if @workflow.errors.any? %>
  <div id="error_explanation">
    <h2>Please correct the following errors: </h2>
    <ul>
      <% @workflow.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @workflow do |form| %>
  <div id="poc-form-field-first">
    <%= form.label :process_definition_key, "Available Processes:" %>
    <%=form.select :process_definition_key, @processes.map { |value| [ value['name'], value['key'] ] } %>
  </div>
  <div id="-poc-form-field-last">
    <%= form.label :business_key, "New Instance Unique Identifier:" %>
    <%=form.text_field :business_key %>
  </div>
  <div>
      <%= submit_tag 'Cancel' %>
      <%= submit_tag 'Start Process Instance' %>
  </div>


<% end %>
