<h1>Create Order</h1>
<% if @order.errors.any? %>
  <div id="error_explanation">
    <h2>Please correct the following errors: </h2>
    <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%if !@error.blank? %>
  <div id="error_explaination">
    Unable to save: <%=@error %>
  </div>
<%end %>

<%= form_with model: @order do |form| %>
  <%= hidden_field :process, :process_instance_id, :value=> @process_instance_id %>
  <%= hidden_field :process, :task_id, :value=> @task_id %>
  <div id="poc-form-field-first">
    <%= form.label :order_date, "Order Date: " %>
    <%= form.date_field :order_date %>
  </div>
  <div id="-poc-form-field-last">
    <%= form.label :order_location, "Manufacturing Location: " %>
    <%=form.select :order_location, @locations.map { |value| [value, value ] } %>
  </div>
  <div>
    <%= submit_tag 'Cancel' %>
    <%= submit_tag 'Save' %>
  </div>


<% end %>
