<%= render :partial => 'steps', locals: { steps: @steps } %>

<h3>Add Patient Demographics</h3>
<% if @patient.errors.any? %>
  <div id="error_explanation">
    <h2>Please correct the following errors: </h2>
    <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%if !@error.blank? %>
  <div id="error_explaination">
    Unable to save: <%=@error %>
  </div>
  <%end %>

<%= form_with model: @patient do |form| %>
  <%= hidden_field :process, :process_instance_id, :value=> @process_instance_id %>
  <%= hidden_field :process, :task_id, :value=> @task_id %>
  <div class = 'form-container' >
    <%= form.label :first_name, "First Name: " %>
    <%= form.text_field :first_name %>

    <%= form.label :last_name, "Last Name: " %>
    <%=form.text_field :last_name %>
  </div>
  <div style="display:flex;justify-content:flex-end;width:650px;margin-top: 20px;">
    <%= submit_tag 'Cancel', :class=> 'myButton'%>
    <%= submit_tag 'Save', :class=> 'myButton' %>
  </div>

<% end %>
