<!DOCTYPE html>
<html>
  <head>
    <title>CamundaJavaProto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="width: 980px; margin: 0 auto; overflow: hidden;">
  <div>
    <div class="vHeader">
        <%= image_tag "vineti-logo.png", :style => 'width:50px;'%>
        <span style="font-size:1.4em;font-weight: bold"> Vineti Workflow Management System </span>
    </div>

    <div style="margin-top:20px; width:800px;">
      <%= yield %>
    </div>
  </div>
  </body>
</html>
